@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Patrick+Hand+SC|Waiting+for+the+Sunrise);
.headtitle{
    font-family:Cabin Sketch;
    font-size:50px;
    text-align: center;
    color: rgb(107, 223, 231);
    margin-left: 2%;
    font-size: 35px;
    margin-right: 45%;
  }